* {
  font-family: "Montserrat", Helvetica, Sans-Serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  color: #ff6060;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

ul {
  list-style-type: none;
}

button {
  border: none;
  cursor: pointer;
}

.page-wrapper {
  max-width: 1240px;
  width: calc(100% - 200px);
  margin: 40px 0;
}
@media screen and (max-width: 1040px) {
  .page-wrapper {
    width: calc(100% - 120px);
  }
}
@media screen and (max-width: 767px) {
  .page-wrapper {
    width: calc(100% - 80px);
    margin: 20px 0;
  }
}
@media screen and (max-width: 480px) {
  .page-wrapper {
    width: calc(100% - 40px);
  }
}

.layout-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: auto;
  height: 209px;
  background-color: black;
  padding: 66px 0 29px;
}
@media screen and (max-width: 1040px) {
  .layout-footer {
    padding-bottom: 45px;
  }
}
@media screen and (max-width: 480px) {
  .layout-footer {
    padding: 62px 0 62px;
  }
}
.layout-footer__text {
  color: white;
  font-size: 24px;
  line-height: 34px;
}
@media screen and (max-width: 1040px) {
  .layout-footer__text {
    font-size: 18px;
    line-height: 26px;
  }
}
@media screen and (max-width: 480px) {
  .layout-footer__text {
    font-size: 12px;
    line-height: 17px;
  }
}

.layout-header {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .layout-header__logo {
    width: 170px;
  }
}
@media screen and (max-width: 480px) {
  .layout-header__logo {
    width: 45%;
    max-width: 145px;
  }
}
.layout-header__nav {
  margin: auto 0;
}
.layout-header__list {
  display: flex;
  gap: 63px;
}
@media screen and (max-width: 767px) {
  .layout-header__list {
    gap: 35px;
  }
}
@media screen and (max-width: 480px) {
  .layout-header__list {
    gap: 15px;
  }
}
.layout-header__link {
  font-size: 24px;
  line-height: 34px;
  text-decoration: none;
}
.layout-header__link.active {
  text-decoration: underline;
}
@media screen and (max-width: 767px) {
  .layout-header__link {
    font-size: 18px;
    line-height: 26px;
  }
}
@media screen and (max-width: 480px) {
  .layout-header__link {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 17px;
  }
}

.banner {
  position: relative;
  height: 223px;
}
@media screen and (max-width: 1040px) {
  .banner {
    height: 150px;
  }
}
@media screen and (max-width: 767px) {
  .banner {
    height: 111px;
  }
}
.banner--home {
  margin: 63px 0 43px;
}
@media screen and (max-width: 1040px) {
  .banner--home {
    margin-top: 35px;
  }
}
@media screen and (max-width: 767px) {
  .banner--home {
    margin: 16px 0 22px;
  }
}
.banner--about {
  margin: 44px 0 30px;
}
@media screen and (max-width: 1040px) {
  .banner--about {
    margin-top: 30px;
  }
}
@media screen and (max-width: 767px) {
  .banner--about {
    margin-top: 35px;
    margin: 17px 0 20px;
  }
}
.banner__image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
  filter: brightness(70%);
}
@media screen and (max-width: 767px) {
  .banner__image {
    border-radius: 10px;
  }
}
.banner__title {
  position: absolute;
  top: 0;
  width: 100%;
  line-height: 223px;
  color: white;
  text-align: center;
  font-size: 48px;
}
@media screen and (max-width: 1040px) {
  .banner__title {
    font-size: 36px;
    line-height: 150px;
  }
}
@media screen and (max-width: 767px) {
  .banner__title {
    font-size: 24px;
    line-height: 111px;
  }
}
@media screen and (max-width: 480px) {
  .banner__title {
    line-height: 24px;
    width: 235px;
    text-align: left;
    padding: 31px 0 0 16px;
  }
}

.card {
  position: relative;
  flex: 1 340px;
  height: 340px;
}
@media screen and (max-width: 1040px) {
  .card {
    flex: 1 255px;
    height: 255px;
  }
}
.card:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  border-radius: 10px;
}
.card__image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.card__title {
  position: absolute;
  width: 40%;
  left: 20px;
  bottom: 20px;
  color: white;
}
@media screen and (max-width: 767px) {
  .card__title {
    bottom: 15px;
  }
}

.carousel {
  position: relative;
  height: 415px;
  margin: 20px 0 24px;
}
@media screen and (max-width: 1040px) {
  .carousel {
    height: 255px;
  }
}
@media screen and (max-width: 767px) {
  .carousel {
    margin: 27px 0 15px;
  }
}
.carousel__image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
}
@media screen and (max-width: 767px) {
  .carousel__image {
    border-radius: 10px;
  }
}
.carousel__counter {
  position: absolute;
  color: white;
  width: 40px;
  left: calc(50% - 20px);
  bottom: 25px;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .carousel__counter {
    display: none;
  }
}
.carousel__btn {
  position: absolute;
  height: 125px;
  padding: 23px;
  top: calc(50% - 62.5px);
  background-color: transparent;
}
@media screen and (max-width: 1040px) {
  .carousel__btn {
    height: 80px;
    padding: 15px;
    top: calc(50% - 40px);
  }
}
@media screen and (max-width: 480px) {
  .carousel__btn {
    height: 32px;
    padding: 6px;
    top: calc(50% - 16px);
  }
}
.carousel__btn--prev {
  left: 0;
}
.carousel__btn--next {
  right: 0;
}
.carousel__icon {
  height: 100%;
}

.collapse {
  display: flex;
  flex-direction: column;
}
.collapse--sheet {
  width: 47%;
}
.collapse--about {
  width: 82.5%;
}
@media screen and (max-width: 480px) {
  .collapse {
    width: 100%;
  }
}

.collapse-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  background-color: #ff6060;
}
.collapse-btn--sheet {
  padding: 0 13px 0 20px;
  border-radius: 10px;
}
.collapse-btn--about {
  padding: 0 33px 0 18px;
  border-radius: 5px;
}
@media screen and (max-width: 767px) {
  .collapse-btn {
    padding: 0 7px 0 12px;
    border-radius: 5px;
  }
}
.collapse-btn__title {
  color: white;
}
.collapse-btn__title--sheet {
  line-height: 52px;
}
.collapse-btn__title--about {
  font-size: 24px;
  line-height: 47px;
}
@media screen and (max-width: 1040px) {
  .collapse-btn__title--about {
    font-size: 18px;
    line-height: 38px;
  }
}
@media screen and (max-width: 767px) {
  .collapse-btn__title {
    font-size: 13px;
    line-height: 30px;
  }
}
.collapse-btn__icon {
  width: 24px;
}
@media screen and (max-width: 767px) {
  .collapse-btn__icon {
    width: 16px;
  }
}

.collapse-content {
  margin-top: -10px;
  font-weight: 400;
  background: #f6f6f6;
}
.collapse-content--sheet {
  height: 100%;
  padding: 40px 12px 27px 20px;
  border-radius: 0 0 10px 10px;
}
.collapse-content--about {
  padding: 36px 27px 12px 18px;
  font-size: 24px;
  line-height: 34px;
  border-radius: 0 0 5px 5px;
}
@media screen and (max-width: 1040px) {
  .collapse-content--about {
    font-size: 18px;
    line-height: 26px;
  }
}
@media screen and (max-width: 480px) {
  .collapse-content--about {
    min-height: 144px;
  }
}
@media screen and (max-width: 767px) {
  .collapse-content {
    font-size: 12px;
    line-height: 17px;
    margin-top: -5px;
    padding: 23px 7px 12px 12px;
    border-radius: 0 0 5px 5px;
  }
}
.collapse-content__list-item {
  font-weight: 400;
}
@media screen and (max-width: 767px) {
  .collapse-content__list-item {
    font-size: 12px;
    line-height: 17px;
  }
}

.home-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 60px;
  padding: 56px 50px 6px;
  background-color: #f6f6f6;
  border-radius: 25px;
}
@media screen and (max-width: 1040px) {
  .home-gallery {
    gap: 35px;
    padding: 0;
    background-color: white;
  }
}
@media screen and (max-width: 767px) {
  .home-gallery {
    gap: 20px;
  }
}
.home-gallery__hidden-card {
  flex: 1 340px;
}
@media screen and (max-width: 1040px) {
  .home-gallery__hidden-card {
    flex: 1 255px;
  }
}
@media screen and (max-width: 480px) {
  .home-gallery__hidden-card {
    display: none;
  }
}

.sheet-intro {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 24px;
}
@media screen and (max-width: 767px) {
  .sheet-intro {
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;
  }
}

.sheet-intro-pri__title {
  font-size: 36px;
  line-height: 51px;
}
@media screen and (max-width: 1040px) {
  .sheet-intro-pri__title {
    font-size: 24px;
    line-height: 38px;
  }
}
@media screen and (max-width: 767px) {
  .sheet-intro-pri__title {
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 26px;
  }
}
.sheet-intro-pri__location {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 20px;
}
@media screen and (max-width: 1040px) {
  .sheet-intro-pri__location {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .sheet-intro-pri__location {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
  }
}
.sheet-intro-pri__tags-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.sheet-intro-pri__tag-item {
  min-width: 115px;
  padding: 0 20px;
  text-align: center;
  font-size: 14px;
  line-height: 25px;
  color: white;
  background-color: #ff6060;
  border-radius: 10px;
}
@media screen and (max-width: 767px) {
  .sheet-intro-pri__tag-item {
    min-width: 84px;
    padding: 0 15px;
    font-size: 10px;
    line-height: 18px;
    border-radius: 5px;
  }
}

.sheet-intro-sec {
  display: flex;
  flex-direction: column;
  gap: 27px;
}
@media screen and (max-width: 767px) {
  .sheet-intro-sec {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}
.sheet-intro-sec__host {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 10px;
}
.sheet-intro-sec__host-name {
  width: -moz-min-content;
  width: min-content;
  text-align: right;
}
@media screen and (max-width: 1040px) {
  .sheet-intro-sec__host-name {
    font-size: 16px;
    line-height: 22px;
  }
}
@media screen and (max-width: 767px) {
  .sheet-intro-sec__host-name {
    font-size: 12px;
    line-height: 17px;
  }
}
.sheet-intro-sec__host-picture {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
@media screen and (max-width: 1040px) {
  .sheet-intro-sec__host-picture {
    width: 48px;
    height: 48px;
  }
}
@media screen and (max-width: 767px) {
  .sheet-intro-sec__host-picture {
    width: 32px;
    height: 32px;
  }
}
.sheet-intro-sec__rating {
  display: flex;
  gap: 15px;
}
@media screen and (max-width: 767px) {
  .sheet-intro-sec__rating {
    gap: 7px;
  }
}
.sheet-intro-sec__rating-icon {
  height: 24px;
}
@media screen and (max-width: 1040px) {
  .sheet-intro-sec__rating-icon {
    height: 18px;
  }
}
@media screen and (max-width: 767px) {
  .sheet-intro-sec__rating-icon {
    height: 13px;
  }
}

.sheet-details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.about-principles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .about-principles {
    gap: 20px;
  }
}

.error-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 169px 0 182px;
  gap: 66px;
}
@media screen and (max-width: 1040px) {
  .error-main {
    margin: 169px 0 133px;
    gap: 40px;
  }
}
@media screen and (max-width: 767px) {
  .error-main {
    margin: 195px 0 133px;
    gap: 11px;
  }
}
.error-main__title {
  font-size: 288px;
  font-weight: 700;
  line-height: 263px;
}
@media screen and (max-width: 1040px) {
  .error-main__title {
    font-size: 160px;
    line-height: 160px;
  }
}
@media screen and (max-width: 767px) {
  .error-main__title {
    font-size: 96px;
    line-height: 99px;
  }
}
.error-main__message {
  text-align: center;
  font-size: 36px;
  line-height: 51px;
}
@media screen and (max-width: 1040px) {
  .error-main__message {
    font-size: 24px;
    line-height: 34px;
  }
}
@media screen and (max-width: 767px) {
  .error-main__message {
    font-size: 18px;
    line-height: 26px;
  }
}
@media screen and (max-width: 480px) {
  .error-main__message {
    width: 220px;
  }
}

.error-footer {
  text-align: center;
}
@media screen and (max-width: 767px) {
  .error-footer__link {
    font-size: 14px;
    line-height: 20px;
  }
}/*# sourceMappingURL=main.css.map */