// Images size, aspect ratio and radius
@mixin img-cover($radius) {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: $radius;
}

// Carousel buttons size, padding and vertical position
@mixin btn-carous($height, $padding) {
  height: $height + ($padding * 2);
  padding: $padding;
  top: calc(50% - ($height + ($padding * 2)) / 2);
}

// Set line-height with font-size
@mixin set-font($size) {
  @if ($size == 24px) {
    font-size: 24px;
    line-height: 34px;
  } @else if ($size == 18px) {
    font-size: 18px;
    line-height: 26px;
  } @else if ($size == 14px) {
    font-size: 14px;
    line-height: 20px;
  } @else if ($size == 12px) {
    font-size: 12px;
    line-height: 17px;
  }
}

// Media queries
@mixin mobile {
  @media screen and (max-width: map-get($breakpoint, mobile)) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: map-get($breakpoint, tablet)) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: map-get($breakpoint, laptop)) {
    @content;
  }
}
