.collapse {
  display: flex;
  flex-direction: column;
  &--sheet {
    width: 47%;
  }
  &--about {
    width: 82.5%;
  }
  @include mobile {
    width: 100%;
  }
}

.collapse-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  background-color: $color-primary;
  &--sheet {
    padding: 0 13px 0 20px;
    border-radius: $radius-medium;
  }
  &--about {
    padding: 0 33px 0 18px;
    border-radius: $radius-small;
  }
  @include tablet {
    padding: 0 7px 0 12px;
    border-radius: $radius-small;
  }
  &__title {
    color: white;
    &--sheet {
      line-height: 52px;
    }
    &--about {
      font-size: $font-medium;
      line-height: 47px;
      @include laptop {
        font-size: $font-small;
        line-height: 38px;
      }
    }
    @include tablet {
      font-size: 13px;
      line-height: 30px;
    }
  }
  &__icon {
    width: 24px;
    @include tablet {
      width: 16px;
    }
  }
}

.collapse-content {
  margin-top: -10px;
  font-weight: 400;
  background: $color-secondary;
  &--sheet {
    height: 100%;
    padding: 40px 12px 27px 20px;
    border-radius: 0 0 $radius-medium $radius-medium;
  }
  &--about {
    padding: 36px 27px 12px 18px;
    font-size: $font-medium;
    line-height: 34px;
    border-radius: 0 0 $radius-small $radius-small;
    @include laptop {
      @include set-font($font-small);
    }
  }
  @include tablet {
    @include set-font($font-tiny);
    margin-top: -5px;
    padding: 23px 7px 12px 12px;
    border-radius: 0 0 $radius-small $radius-small;
  }
  &__list-item {
    font-weight: 400;
    @include tablet {
      @include set-font($font-tiny);
    }
  }
}
