.layout-header {
  display: flex;
  justify-content: space-between;
  &__logo {
    @include tablet {
      width: 170px;
    }
    @include mobile {
      width: 45%;
      max-width: 145px;
    }
  }
  &__nav {
    margin: auto 0;
  }
  &__list {
    display: flex;
    gap: 63px;
    @include tablet {
      gap: 35px;
    }
    @include mobile {
      gap: 15px;
    }
  }
  &__link {
    @include set-font($font-medium);
    text-decoration: none;
    &.active {
      text-decoration: underline;
    }
    @include tablet {
      @include set-font($font-small);
    }
    @include mobile {
      text-transform: uppercase;
      @include set-font($font-tiny);
    }
  }
}
